.category_div {
    background: #fcfcfc no-repeat padding-box;
    border: 1px solid #e2f0ff;
    border-radius: 3px;
    opacity: 1;
    padding: 5px;
}

.seller-header-image {
    margin-top: 9px;
    border-radius: 4px;
    height: 220px;
    background: url("./img/seller.png");
    background-position: center;
    background-size: cover;
}

.for-discoutn-value {
    color: white;
    padding: 3px 4px 2px 5px;
    border-radius: 0px 5px;
    font-size: small;
}

.for-discoutn-value-null {
    color: white;
    padding: 3px 4px 2px 5px;
    border-radius: 0px 5px;
    font-size: small;
    display: inline-block;
}

.for-dicount-div-null {
    margin-bottom: 8%;
}

.for-dicount-div {
    margin-top: -6%;
    margin-right: -9%;
    margin-bottom: 6%;
}
@media (max-width: 375px) {
    .discount-hed {
        margin-top: -5%;
        margin-right: -5%;
        margin-bottom: 6%;
    }
}

.for-count-value {
    position: absolute;

    right: 0.6875rem;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    color: black;
    font-size: 0.75rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.25rem;
}

@media (max-width: 600px) {
    .seller-header-image {
        height: 86px;
    }
}


.chat {
    float: right;
    margin-right: 5px;
    width: 100px;
}

.flower {
    float: right;
    width: 114px;
}

.brand_div {
    background: #fcfcfc no-repeat padding-box;
    border: 1px solid #e2f0ff;
    border-radius: 3px;
    opacity: 1;
    padding: 5px;
}

.cz-carousel [data-nav].tns-nav-active {
    background-color: #92c6ff !important;
}

.cz-carousel [data-nav] {
    background-color: #fff !important;
}

.cz-carousel .tns-nav {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    bottom: 25px;
}

.tns-outer {
    padding: 0 !important;
    margin-bottom: -20px;
}

.banner_card {
    box-shadow: 0px 0px 8px #0000001a;
    border: 1px solid #e2f0ff;
    border-radius: 3px;
}

[data-simplebar] {
    overflow-y: auto;
    padding-right: 0px !important;
}

.simplebar-content {
    padding-right: 0px !important;
}

.footer_banner {
    padding-right: 4px;
    padding-left: 4px;
    margin-top: 5px;
}

.footer_banner:first-child {
    padding-left: 0;
}

.footer_banner:nth-child(5) {
    padding-right: 0;
}

.widget-title {
    font-weight: 700;
    font-size: 25px !important;
    text-transform: uppercase;
}

.widget-product-title .ptr {
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 1.2em; /* (Number of lines you want visible) * (line-height) */
    line-height: 1.2em;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 17px;
}

widget .btn > i {
    margin-top: -1px;
    vertical-align: middle;
    font-size: 10px;
}

.widget .btn-outline-accent {
    border-radius: 3px;
    width: 80px;
    padding: 2px;
}

.widget-product-title {
    position: relative;
}

.text-accent {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 17px;
}

.media {
    border-bottom: 1px solid #e3e9ef !important;
}

.category_title {
    color: black !important;
    font-size: 16px;
    font-weight: 600;
}

.featured_deal_title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

/*.carousel-item {
    height: 130px;
}*/

.featured_deal_product {
    cursor: pointer;
    height: 97px;
}

.featured_product_pic {
    /*width: 35%;
    padding: 9px;*/
}

.featured_product_details {
    width: 65%;
    padding: 5px;
}

.featured_product_pic .image_center img {
    vertical-align: middle;
}

.featured_deal_title {
    position: relative;
}

.featured_product-title .ptr {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 19px !important;
    color: #000000 !important;
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 2.4em; /* (Number of lines you want visible) * (line-height) */
    line-height: 1.2em;
}

.featured_product-price {
    margin-top: -10px;
}

.featured_product-price .ptp {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 19px !important;
}

/*.featured_deal_carosel .carousel-inner {
    position: relative;
    width: 95%;
    overflow: hidden;
}*/

/*.featured_deal_carosel .carousel-control-prev {
    left: -9%;
}

.featured_deal_carosel .carousel-control-next {
    right: -5%;
}*/

.flash_deal {
    box-shadow: 0px 0px 8px #0000001a;
    border-radius: 3px;
}

.flash_deal_title {
    font-weight: 600;
    font-size: 23px;
    text-transform: uppercase;
}

.cz-countdown .cz-countdown-value {
    font-family: "Roboto", sans-serif;
    font-size: 16px !important;
    font-weight: 700 !important;
}

.cz-countdown {
    display: inline-block;
    flex-wrap: wrap;
    font-weight: normal;
    margin-top: 6px;
}

.flash_deal_product {
    height: 175px;
    box-shadow: 0px 3px 6px #0000000d;
    border-radius: 3px;
    margin-top: 12px;
    cursor: pointer;
}

.flash_deal_product_pic {
    height: 175px;
    background: #f9f9f9;
    border-radius: 3px;
    padding: 0px 10px;
}

.flash_deal_product_pic img {
    height: 149px;
}

.flash_deal_product_details {
    position: relative;
}

.flash_deal_product_details .flash-product-title {
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 2.4em; /* (Number of lines you want visible) * (line-height) */
    line-height: 1.2em;
}

.flash_deal_product_details .flash-product-title a {
    font-weight: 600;
    font-size: 16px;
    color: black !important;
}

.flash_deal_product_details .flash-product-review {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fea96e !important;
}

.flash_deal_product_details .flash-product-review .review-count {
    color: #fea96e !important;
}

.flash_deal_product_details .flash-product-review .star-rating i {
    font-size: 16px !important;
}

.deal_of_the_day h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 29px;
    padding-top: 70px;
    text-align: center;
    text-transform: uppercase;
}

.buy_btn {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 22px;
    width: 198px;
    height: 46px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid white;
    color: #f7931e !important;
}

.deal_latest_product .product-card {
    box-shadow: 1px 1px 6px #00000014;
    border-radius: 5px;
    height: 302px;
}

.deal_latest_product .product-card .card-header {
    /*background-color: #F9F9F9 ;*/
    height: 200px;
    text-align: center;
    background: #f9f9f9 0% 0% no-repeat padding-box;
    border-radius: 5px 5px 0px 0px;
}

.deal_latest_product .product-title1 {
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    color: #000000 !important;
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 2.4em; /* (Number of lines you want visible) * (line-height) */
    line-height: 1.2em;
}

.deal_latest_product .product-title {
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    color: #000000 !important;
}

.deal-title {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.view_all {
    display: flex;
    justify-content: flex-end !important;
}

.view_border {
    margin-top: -53px;
    border-top: 2px solid #e3e9ef;
    margin-bottom: 53px;
}

@media (min-width: 600px) {
}

@media (min-width: 1024px) {
    .main_banner_img {
        margin: 0px;
    }

    .footer_banner_img {
        height: 165px;
    }

    .banner_product {
        height: 490px !important;
    }
}

@media (min-width: 992px) {
    .main_banner_img {
        margin: 0px;
        height: 378px !important;
    }

    .footer_banner_img {
        height: 165px !important;
        width: 100%;
    }

    .banner_product {
        background: white;
        height: 526px !important;
    }
}
@media (max-width: 375px) {
    .for-dicount-div {
        margin-top: -5%;
        margin-right: -5%;
        margin-bottom: 6%;
    }
}

@media (min-width: 768px) {
    .main_banner_img {
        margin: 0px;
        height: 260px;
    }

    .footer_banner_img {
        height: 100px;
    }

    .banner_product {
        height: 306px;
    }

    .flash_deal {
        height: 258px;
    }
}

@media (max-width: 768px) {
    .banner_card {
        box-shadow: none;
        border: none;
        border-radius: 0;
    }

    .btn-sm,
    .btn-group-sm > .btn {
        padding: 5px 10px;
        font-size: 0.8125rem;
        line-height: 1.5;
        border-radius: 0.1875rem;
        margin-top: 3px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 14%;
        color: #fff;
        text-align: center;
        opacity: 0.5;
        transition: opacity 0.15s ease;
    }

    .featured_deal_carosel .carousel-control-prev {
        left: -5%;
    }

    .featured_deal_carosel .carousel-inner {
        padding: 0px;
    }

    .view_all {
        display: flex;
        justify-content: flex-start !important;
    }

    .flash_deal {
        box-shadow: none;
        border: none;
        border-radius: 0;
    }

    .fd {
        padding-bottom: 10px;
        border-bottom: 2px solid #e2f0ff !important;
    }

    .feature_header {
        margin-top: 0;
    }

    .feature_header span {
        padding-right: 0;
        padding-left: 0;
        font-weight: 700;
        font-size: 25px;
        background-color: #ffffff;
        text-transform: uppercase;
    }

    .view_border {
        margin: 16px 0px;
        border-top: 2px solid #e2f0ff !important;
    }

    .flash-product-price,
    .text-accent {
        font-size: 18px !important;
    }
}


.phpdebugbar{
    display: none!important;
}


.product-card {
    box-shadow: 0px 0px 0px #00000014!important;
}
