body {
    font-family: 'Titillium Web', sans-serif;
}

.tsb {
    font-weight: 600;
}

.tb {
    font-weight: 700;
}

.twr {
    font-weight: 400;
}

.rr {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.rb {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.navbar-brand img {

}



